body,summary,button,ul,input{
margin:0;
padding:0;
list-style:none;
list-style-type:none;
border:none;
outline:none;
-webkit-tap-highlight-color:transparent;
}

body{
margin:0 auto;
height:100%;
color:rgb(0,0,0);
background-color:rgb(251,252,255);
/* border:1px solid rgb(0,0,0); */
}

.kuandu{
margin:auto;
width:90%;
/* border:1px solid rgb(0,0,0); */
}

.syimg{
position:absolute;
right:0;
margin:3.7rem 8%;
width:2rem;
background-repeat:no-repeat!important;
/* border:1px solid rgb(250,0,0); */
}

.time{
width:100%;
text-align:center;
user-select:none;
/* border:1px solid rgb(0,0,0); */
}
#sizong{
font-size:2.4rem;
font-weight:700;
letter-spacing:.3rem;
white-space:nowrap;
}
#gongli{
font-size:1rem;
}
#yinli{
font-size:.6rem;
}
#sengri{
font-size:.6rem;
color:rgb(255,0,0);
/* border:1px solid rgb(0,0,0); */
}

.Confucius{
margin:1rem 0;
/* border:1px solid rgb(0,0,0); */
}
.Confucius details{
font-size:1rem;
color:rgb(60,70,90);
}
.Confucius,
.Confucius summary{
font-size:1.3rem;
color:rgb(0,0,0);
text-shadow:0 0 0 rgb(0,0,0);
}

.sxjianju{
margin:.6rem auto;
/* border:1px solid rgb(220,0,0); */
}

button{
margin:.25rem .24rem;
padding:.2rem;
font-size:1rem;
text-shadow:0 0 0 rgb(0,0,0);
background-color:transparent;
/* border:1px solid rgb(0,0,0); */
}
.zgzs,
.youtube,
.google,
.googlefy{
height:1.8rem;
width:3.9rem;
border-radius:20px;
font-size:.75rem;
color:rgb(255,255,255);
text-shadow:0 0 0 rgb(255,255,255);
}
.zgzs{background-color:rgb(15,157,88);}
.youtube{background-color:rgb(255,0,0);}
.google{background-color:rgb(66,133,244);}
.googlefy{background-color:rgb(204,102,0);}

/* tv遮罩层 */
.tvzzcs{
display:none;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
background-color:transparent;
}
.tvlianjies{
display:none;
position:absolute;
border-radius:9px;
background-color:rgba(255,230,200,.8);
z-index:2;
}

.txhezis{
display:flex;
flex:1;
align-items:center;
left:0;
right:0;
margin:auto;
border:1px solid rgb(150,160,170);
border-radius:24px;
background-color:transparent;
}
/* 输入框 */
.formkuan,
.inputkuan{
width:100%;
}
.inputkuan{
display:flex;
height:2.6rem;
padding:0 1rem;
font-size:1rem;
background-color:transparent;
}
/* .inputkuan:focus{ */
/* position:relative; */
/* border:0;
border-bottom:1px solid rgb(150,160,170);
border-radius:0; */
/* } */

.inputkuan::-webkit-search-cancel-button{
appearance:none;
display:none;
}

/* 输入框清除按钮 */
.qingcus{
display:none;
padding-right:.5rem;
/* border:1px solid rgb(200,0,0); */
}
.svgtubiao{
display:flex;
width:1.4rem;
height:1.4rem;
fill:rgb(0,0,0);
}

#lianxiang{
display:none;
position:fixed;
top:3.3rem;
left:0;
right:0;
margin:auto;
width:90%;
background-color:transparent;
/* background-color:rgb(255,255,255);
border:1px solid rgb(200,0,0); */
}
#lianxiang li{
padding:0 1rem;
line-height:2.5rem;
font-size:1rem;
white-space:nowrap;
overflow:auto;
}
#lianxiang li.active{
background-color:rgb(232,235,240);
}

/* 点击搜索框 新闻显示-隐藏 */
.newss{
display:flex;
position:absolute;
left:0;
right:0;
margin:auto;
width:10.4rem;
/* background-color:rgb(200,0,0); */
}
.newss .zhilian{
font-size:.8rem;
border-radius:20px;
}
.newss .xinwen{
border:1px dashed rgb(23,188,162);
}
.newss .yingsi{
border:1px dashed rgb(66,133,244);
}
.newss .yinyue{
border:1px dashed rgb(255,136,0);
}
/* 新闻滑动 */
.swiper{
display:flex;
overflow:hidden;
white-space:nowrap;
}
.swiper-wrapper,
.swiper-slide{
display:flex;
}

#appzzc{
display:none;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
/* height:100%;
width:100%; */
background-color:rgb(255,255,255);
}

.tqlianjie{
position:absolute;
left:0;
right:0;
margin:auto;
height:.8rem;
width:12rem;
/* border:1px solid rgb(200,0,0); */
}

/* 净面 */
::-webkit-details-marker,
::-webkit-scrollbar,
/* [miniweb=light] #sengyin, */
[miniweb=light] .Confucius,
[miniweb=light] article{
display:none;
}

html[miniweb=light] body{
margin:14rem auto;
background-image:radial-gradient(500px 150px,rgb(70,152,255,.3),rgb(251,252,255));
background-repeat:no-repeat!important;
}

[miniweb=light] .pcminibj,
[miniweb=light] .kuandu{
width:90%;
background-color:transparent;
}

[miniweb=light] .time,
[miniweb=light] #sizong{
width:100%;
font-weight:900;
/* border:1px solid rgb(0,0,0); */
}

[miniweb=light] .tqjianju{
margin-top:2rem;
}

@media (prefers-color-scheme:dark){
body{
color:rgb(255,255,255);
background-color:rgb(32,33,36);
}

.Confucius,.Confucius summary,
button{
color:rgb(255,255,255);
}
.Confucius details{color:rgb(215,216,219);}

.tvlianjies{
background-color:rgba(10,20,30,.8);
}

.txhezis{
border:1px solid rgb(63,66,70);
}
.inputkuan{
/* border:1px solid rgb(63,66,70); */
color:rgb(255,255,255);
}
/* .inputkuan:focus{
border-bottom:1px solid rgb(63,66,70);
} */

.svgtubiao{fill:rgb(255,255,255);}

#lianxiang{
/* background-color:rgb(32,33,36); */
background-color:transparent;
}
#lianxiang li.active{
background-color:rgb(42,43,46);
}

#appzzc{
background-color:rgb(32,33,36);
}

html[miniweb=light] body{
background-color:rgb(32,33,36);
background-image:radial-gradient(500px 150px,rgb(7,193,96,.2),rgb(32,33,36));
}

}
