body,div,summary,button,ul,input{
margin:0;
padding:0;
list-style:none;
list-style-type:none;
border:none;
outline:none;
-webkit-tap-highlight-color:transparent;
}
body{
margin:3% auto;
/* font-family:KaiTi; */
color:rgb(0,0,0);
/* 美化可无 */
background-image:url(https://open.saintic.com/api/bingPic);
background-repeat:no-repeat;
background-attachment:fixed;
background-color:rgb(251,252,255);
/* border:1px solid rgb(0,0,0); */
}
/* background-position:center center;
https://bing.ioliu.cn */

.pcminibj{
margin:auto;
padding:1rem 0;
width:30rem;
border-radius:20px;
/* background-color:rgb(232,235,240); */
background-color:rgba(232,235,240,.7);
/* border:1px solid rgb(0,0,0); */
}

.kuandu{
margin:auto;
width:90%;
/* border:1px solid rgb(0,0,0); */
}

.sijianjz{
text-align:center;
/* margin:0 auto;
width:100%; */
/* border:1px solid rgb(220,0,0); */
}
.sengyinjz{
display:inline-block;
}

.time,
.confucius{
font-family:KaiTi;
}

.time{
display:inline-block;
text-align:center;
user-select:none;
cursor:help;
/* background-color:rgba(0,0,0,.3); */
}
#sizong{
font-size:2.6rem;
font-weight:700;
letter-spacing:.5rem;
white-space:nowrap;
}
#gongli{
font-size:1.3rem;
}
#yinli{
font-size:1rem;
}
#sengri{
font-size:1rem;
color:rgb(255,0,0);
/* background-color:rgba(90,0,0,.3); */
/* display:none; */
}

.sengyins{
position:absolute;
}
.syimg{
position:absolute;
top:3.8rem;
right:0;
width:2rem;
background-repeat:no-repeat!important;
cursor:pointer;
/* border:1px solid rgb(100,200,100); */
}

.confucius{
margin:1.5rem 0;
/* border:1px solid rgb(0,0,0); */
}
.confucius details{
font-size:1.3rem;
color:rgb(60,70,90);
}
.confucius,
.confucius summary{
font-size:1.6rem;
color:rgb(0,0,0);
text-shadow:0 0 0 rgb(0,0,0);
}

.sxjianju{
margin:.6rem auto;
/* border:1px solid rgb(220,0,0); */
}

button{
margin:.3rem;
padding:.2rem;
font-size:1rem;
text-shadow:0 0 0 rgb(0,0,0);
background-color:transparent;
cursor:pointer;
/* border:1px solid rgb(0,0,0); */
}
.zgzs,
.youtube,
.google,
.googlefy{
height:2rem;
width:4.3rem;
border-radius:20px;
font-size:.8rem;
color:rgb(255,255,255);
text-shadow:0 0 0 rgb(255,255,255);
}
.zgzs{background-color:rgb(15,157,88);}
.youtube{background-color:rgb(255,0,0);}
.google{background-color:rgb(66,133,244);}
.googlefy{background-color:rgb(204,102,0);}

/* tv遮罩层 */
.zlzzcs,
.fmzzcs,
.tvzzcs{
display:none;
position:fixed;
top:0;
left:0;
right:0;
bottom:0;
z-index:2;
background-color:transparent;
}
.zllianjies,
.fmlianjies,
.tvlianjies{
display:none;
position:absolute;
border-radius:9px;
z-index:2;
}
.zllianjies{
background-color:rgba(160,170,222,.9);
}
.fmlianjies{
background-color:rgba(200,200,160,.9);
}
.tvlianjies{
background-color:rgba(255,230,200,.9);
}

/* 弹性布局,输入框,清除按钮,新闻 */
.txhezis{
display:flex;
flex:1;
align-items:center;
border:1px solid rgb(150,160,170);
border-radius:24px;
background-color:transparent;
}
.formkuan,
.inputkuan{
width:100%;
}
.inputkuan{
display:flex;
height:3rem;
padding:0 1rem;
font-size:1.1rem;
background-color:transparent;
transition:box-shadow 1s;
/* border:1px solid rgb(200,0,0); */
}

.qingcus{
display:none;
padding-right:.6rem;
/* border:1px solid rgb(200,0,0); */
}
.svgtubiao{
display:flex;
width:1.7rem;
height:1.7rem;
fill:rgb(50,50,50);
cursor:pointer;
}

#lianxiang{
display:none;
position:relative;
margin-top:-20rem;
height:20rem;
/* width:100%; */
border-radius:24px 24px 0 0;
box-shadow:0 -1px 3px rgb(200,200,200);
/* background-color:rgb(255,255,255); */
background-color:rgba(255,255,255,.9);
}
#lianxiang li{
padding:0 1rem;
line-height:2.5rem;
font-size:1rem;
white-space:nowrap;
overflow:auto;
}
#lianxiang li:hover,
#lianxiang li.active{
background-color:rgb(232,235,240);
cursor:pointer;
}
/* 新闻滑动 */
.newss{
display:flex;
position:absolute;
left:0;
right:0;
margin:auto;
width:14.6rem;
/* background-color:rgb(200,0,0); */
}
.newss .zhilian{
font-size:.9rem;
border-radius:20px;
}
.newss .xinwen{
border:1px dashed rgb(23,188,162);
/* background-color:rgb(174,18,16,.2); */
}
.newss .yingsi{
border:1px dashed rgb(66,133,244);
}
.newss .yinyue{
border:1px dashed rgb(255,136,0);
}
.swiper{
display:flex;
overflow:hidden;
white-space:nowrap;
}
.swiper-wrapper,
.swiper-slide{
display:flex;
}

.tqtxhz{
display:flex;
}
.tqlianjie{
position:absolute;
left:0;
right:0;
margin:auto;
height:.9rem;
width:13rem;
/* border:1px solid rgb(200,0,0); */
}
/* .baise{
display:none;
} */

/* 净面 */
::-webkit-search-cancel-button,
::-webkit-details-marker,
::-webkit-scrollbar,
/* [miniweb=light] .sengyins, */
/* [miniweb=light] .huangse, */
[miniweb=light] .confucius,
[miniweb=light] article{
appearance:none;
display:none;
}

html[miniweb=light] body{
margin:12rem auto;
color:rgb(255,255,255);
/* background-image:radial-gradient(500px 150px,rgb(70,152,255,.3),rgb(251,252,255));
background-repeat:no-repeat!important;
background-attachment:scroll; */
}

[miniweb=light] .pcminibj,
[miniweb=light] .kuandu{
width:100%;
background-color:transparent;
/* border:1px solid rgb(0,0,0); */
}

[miniweb=light] .time,
[miniweb=light] #sizong{
width:100%;
font-family:Arial Black;
font-size:5rem;
font-weight:900;
/* border:1px solid rgb(0,0,0); */
}

[miniweb=light] .syimg{
top:9rem;
right:4rem;
}

/* [miniweb=light] .baise, */
[miniweb=light] .huangse,
[miniweb=light] .tqlianjie{
margin-top:2rem;
}

@media (prefers-color-scheme:dark){
body{
color:rgb(255,255,255);
background-color:rgb(51,52,53);
}

.pcminibj{
/* background-color:rgb(61,62,63); */
background-color:rgba(61,62,63,.7);
}

.confucius,.confucius summary,
button{
color:rgb(255,255,255);
}
.confucius details{color:rgb(215,216,219);}

.zllianjies{
background-color:rgba(61,72,90,.9);
}
.fmlianjies{
background-color:rgba(51,52,80,.9);
}
.tvlianjies{
background-color:rgba(150,50,80,.9);
}

.txhezis{
border:1px solid rgb(93,96,100);
}
.inputkuan{
color:rgb(255,255,255);
}

.svgtubiao{fill:rgb(255,255,255);}

#lianxiang{
box-shadow:0 -1px 3px rgb(41,42,43);
/* background-color:rgb(51,52,53); */
background-color:rgba(51,52,53,.9);
}
#lianxiang li:hover,
#lianxiang li.active{
/* background-color:rgb(61,62,63); */
background-color:rgb(71,72,73);
}

/* html[miniweb=light] body{
background-color:rgb(32,33,36);
background-image:radial-gradient(500px 150px,rgb(7,193,96,.2),rgb(32,33,36));
} */

}