body,div,summary,button,ul,input{
margin:0;
padding:0;
list-style:none;
list-style-type:none;
border:none;
outline:none;
-webkit-tap-highlight-color:transparent;
}

body{
margin:3% auto;
font-family:KaiTi;
color:rgb(0,0,0);
/* 可有可无 美化 */
background-image:url(https://open.saintic.com/api/bingPic);
background-position:center;
/* background-size:cover; */
background-repeat:no-repeat;
background-color:rgb(251,252,255);
/* border:1px solid rgb(0,0,0); */
/* https://bing.ioliu.cn */
}

.pcminibj{
margin:auto;
padding:1rem 0;
width:30rem;
border-radius:20px;
/* background-color:rgb(232,235,240); */
background-color:rgba(232,235,240,.7);
}

.kuandu{
margin:auto;
width:90%;
/* border:1px solid rgb(0,0,0); */
}

.syimg{
position:absolute;
margin:3.6rem 22rem;
/* height:2.5rem; */
width:2rem;
background-repeat:no-repeat!important;
cursor:pointer;
/* border:1px solid rgb(100,200,100); */
}

.time{
width:100%;
text-align:center;
user-select:none;
cursor:help;
/* border:1px solid rgb(0,0,0); */
}
#sizong{
font-size:2.6rem;
font-weight:700;
letter-spacing:.5rem;
white-space:nowrap;
}
#gongli{
font-size:1.3rem;
}
#yinli{
font-size:1rem;
}
#sengri{
font-size:1rem;
color:rgb(255,0,0);
/* border:1px solid rgb(0,0,0); */
}

.Confucius{
margin:1.5rem 0 1.3rem;
/* border:1px solid rgb(0,0,0); */
}
.Confucius details{
font-size:1.3rem;
color:rgb(60,70,90);
}
.Confucius,
.Confucius summary{
font-size:1.6rem;
color:rgb(0,0,0);
text-shadow:0 0 0 rgb(0,0,0);
}

/* 按钮之间间距 user-select:none不要用 */
/* .buttonfont{
font-size:0;
border:1px solid rgb(0,0,0);
} */

.sxjianju{
margin:.6rem auto;
}

button{
margin:.3rem;
padding:0 .3rem;
height:1.7rem;
vertical-align:middle;
text-align:center;
font-size:1rem;
text-shadow:0 0 0 rgb(0,0,0);
background-color:transparent;
cursor:pointer;
/* border:1px solid rgb(0,0,0); */
}
.zgzs,
.youtube,
.google,
.googlefy{
height:2rem;
width:4.3rem;
border-radius:20px;
font-size:.8rem;
color:rgb(255,255,255);
text-shadow:0 0 0 rgb(255,255,255);
}
.zgzs{background-color:rgb(15,157,88);}
.youtube{background-color:rgb(255,0,0);}
.google{background-color:rgb(66,133,244);}
.googlefy{background-color:rgb(204,102,0);}

.gengduo,
button:hover,
button:focus{
border-bottom:2px dashed rgb(255,0,0);
border-bottom-left-radius:100%;
}

/* tv遮罩层 */
.tvzzcs{
display:none;
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
background-color:transparent;
z-index:1;
}
/* tv卫视链接 */
.tvlianjies{
display:none;
position:absolute;
border-radius:9px;
background-color:rgba(255,230,200,.8);
z-index:2;
}

/* 弹性布局,输入框,清除按钮,新闻 */
.tanxinghezi{
display:flex;
flex:1;
align-items:center;
}
/* 输入框 */
.formkuan,
.inputkuan{
width:100%;
}
.inputkuan{
display:flex;
height:3rem;
padding:0 2.6rem 0 1rem;
font-size:1.2rem;

border:1px solid rgb(150,160,170);
border-radius:30px;
background-color:transparent;
transition:box-shadow 1s;
}
.inputkuan:focus{
position:relative;
border:0;
box-shadow:0 0 90px rgb(7,193,96),0 0 3px rgb(200,200,200)!important;
/* background-color:rgb(255,255,255); */
background-color:rgba(255,255,255,.5);
}
.inputkuan::-webkit-search-cancel-button{
appearance:none;
display:none;
}

/* 输入框清除按钮 */
.qingcus{
display:none;
position:absolute;
margin:0 0 0 24.7rem;
}
.svgtubiao{
display:flex;
width:1.7rem;
height:1.7rem;
fill:rgb(0,0,0);
cursor:pointer;
}

#lianxiang{
display:none;
position:absolute;
margin-top:-20rem;
width:27rem;

border-radius:20px 20px 0 0;
box-shadow:0 -1px 3px rgb(200,200,200);
/* background-color:rgb(255,255,255); */
background-color:rgba(255,255,255,.9);
}
#lianxiang li{
/* padding-left:26px; */
padding:0 1rem;
line-height:2.5rem;
font-size:1.2rem;
white-space:nowrap;
overflow:auto;
}
#lianxiang li:hover,
#lianxiang li.active{
background-color:rgb(232,235,240);
cursor:pointer;
}

/* 新闻显示-隐藏 点击搜索框 */
.newss{
display:flex;
position:absolute;
left:0;
right:0;
margin:auto;
width:14.6rem;
/* background-color:rgba(6,6,6,.6); */
}
.newss .zhilian{
font-size:.9rem;
border-radius:20px;
}
.newss .xinwen{
border:1px dashed rgb(23,188,162);
/* background-color:rgb(174,18,16,.2); */
}
.newss .yingsi{
border:1px dashed rgb(66,133,244);
}
.newss .yinyue{
border:1px dashed rgb(255,136,0);
}
/* 新闻滑动 */
.swiper{
display:flex;
overflow:hidden;
white-space:nowrap;
}
.swiper-wrapper,
.swiper-slide{
display:flex;
}

.tqlianjie{
position:absolute;
left:0;
right:0;
margin:auto;
height:.8rem;
width:13rem;
/* border:1px solid rgb(0,0,0); */
}

/* 净面 */
::-webkit-details-marker,
::-webkit-scrollbar,
/* [miniweb=light] #sengyin, */
[miniweb=light] .Confucius,
[miniweb=light] article{
display:none;
}

html[miniweb=light] body{
margin:14rem auto;
/* text-shadow:0 0 20px rgb(70,152,255); */
background-image:radial-gradient(500px 150px,rgb(70,152,255,.3),rgb(251,252,255));

/* background-image:url(https://open.saintic.com/api/bingPic); */
background-repeat:no-repeat!important;
/* background-position:center;
background-size:cover; */
}

[miniweb=light] .pcminibj,
[miniweb=light] .kuandu{
width:50rem;
background-color:transparent;
/* border:1px solid rgb(0,0,0); */
}

[miniweb=light] .syimg{
margin:8rem 38rem;
}

[miniweb=light] .time,
[miniweb=light] #sizong{
width:100%;
font-family:Arial Black;
font-size:5rem;
font-weight:900;
/* text-shadow:3px 3px 3px rgb(0,0,0,.5); */
/* border:1px solid rgb(0,0,0); */
}

[miniweb=light] .tqjianju{
margin-top:2rem;
}

@media (prefers-color-scheme:dark){
body{
color:rgb(255,255,255);
background-color:rgb(51,52,53);
}

.pcminibj{
/* background-color:rgb(61,62,63); */
background-color:rgba(61,62,63,.7);
}

.Confucius,.Confucius summary,
button{
color:rgb(255,255,255);
}
.Confucius details{color:rgb(215,216,219);}

.tvlianjies{
background-color:rgba(10,20,30,.8);
}

.inputkuan{
border:1px solid rgb(93,96,100);
color:rgb(255,255,255);
}
.inputkuan:focus{
box-shadow:0 0 90px rgb(255,255,255),0 0 3px rgb(41,42,43)!important;
/* background-color:rgb(61,62,63); */
background-color:rgba(61,62,63,.5);
}

.svgtubiao{fill:rgb(255,255,255);}

#lianxiang{
box-shadow:0 -1px 3px rgb(41,42,43);
/* background-color:rgb(51,52,53); */
background-color:rgba(51,52,53,.9);
}
#lianxiang li:hover,
#lianxiang li.active{
background-color:rgb(61,62,63);
}

html[miniweb=light] body{
background-color:rgb(32,33,36);
background-image:radial-gradient(500px 150px,rgb(7,193,96,.2),rgb(32,33,36));
}

}