body{
margin:auto !important;
width:20rem !important;
margin-top:50px !important;
margin-bottom:50px !important;
color:rgb(255,255,255)!important;
text-shadow:5px 5px 5px rgba(0,0,0,.5)!important;
background-color:rgb(50,50,50)!important;
}


@media screen and (min-device-width:800px){
.div1{
background-color:rgb(60,60,60)!important;
} }

@media screen and (min-device-width:800px){
.m-lrts{
display:none;
} }
@media screen and (max-device-width:800px){
.pc-lrts{
display:none;
} }

@media screen and (min-device-width:800px){
.m-kuwo{
display:none;
} }
@media screen and (max-device-width:800px){
.pc-kuwo{
display:none;
} }

@media screen and (min-device-width:800px){
.m-haokan{
display:none;
} }
@media screen and (max-device-width:800px){
.pc-haokan{
display:none;
} }

@media screen and (min-device-width:800px){
.m-youdao{
display:none;
} }
@media screen and (max-device-width:800px){
.pc-youdao{
display:none;
} }

@media screen and (min-device-width:800px){
.m-jd{
display:none;
} }
@media screen and (max-device-width:800px){
.pc-jd{
display:none;
} }

#nonglijieri{
font-family:'KaiTi' !important;
text-align:center !important;
}
#shijian{
/* font-family:'lmpact' !important; */
font-size:2.6rem !important;
color:rgb(255,255,255)!important;
font-weight:bold !important;
letter-spacing:5px !important;
white-space:nowrap !important;
text-shadow:7px 8px 9px rgba(0,0,0,.5) !important;
}
#gongli{
font-size:1rem !important;
color:rgb(255,255,255)!important;
}
#yinli{
font-size:0.7rem !important;
color:rgb(255,255,255)!important;
}
#shengri{
font-size:0.6rem !important;
color:rgb(220,64,64)!important;
}

#ziyue{
font-family:'KaiTi' !important;
font-size:1.5rem !important;
color:rgb(255,255,255)!important;
}







::-webkit-details-marker {


list-style:none !important;

}




.inputclick{
margin:2px auto !important;
width:20rem !important;
height:69px !important;
font-family:'KaiTi' !important;
font-size:28px !important;
padding-left:10px !important;
color:rgb(255,255,255)!important;
text-shadow:5px 5px 5px rgba(0,0,0,.5)!important;
background-color:rgb(31,32,33)!important;
border:none !important;
outline:none !important;
transition:4s;
}
.inputclick:hover{
background-color:rgb(31,32,33)!important;
box-shadow:0 0 90px rgba(255,255,255)!important;
transition:2s;
}
.inputclick:focus{
box-shadow:0 0 90px rgba(255,255,255)!important;
}
input::-webkit-input-placeholder{
font-family:'KaiTi' !important;
color:rgb(150,150,150)!important;
}
input::-webkit-search-cancel-button{
appearance:none;
width:15px;
height:15px;
border-radius:50px;
background-color:rgb(255,0,0);
cursor:pointer;
}

ul{
margin:0 auto !important;
padding:0 !important;
width:20rem !important;
position:fixed !important;
z-index:9 !important;
}
html li:not(:empty){
font-family:'KaiTi' !important;
font-size:1rem !important;
list-style:none !important;
line-height:35px !important;
color:rgb(255,255,255)!important;
background-color:rgb(31,32,33)!important;
}
html li:hover,html li:hover *{
background-color:rgb(255,0,0)!important;
cursor:pointer;
}

@media screen and (min-device-width:800px){
.btn,.zhilian{
font-weight:bold !important;
} }
.btn,.zhilian{
font-family:'KaiTi' !important;
/* font-family:'SimHei' !important; */
/* font-family:'Microsoft JhengHei' !important; */
/* font-family:'Sitka Small' !important; */
font-size:1rem !important;
text-shadow:5px 5px 5px rgba(0,0,0,.5)!important;
color:rgb(210,210,210)!important;
background-color:transparent !important;
border:none !important;
cursor:pointer;
}
.btn:hover,.zhilian:hover{
color:rgb(255,255,255)!important;
background-color:rgb(0,0,0)!important;
}
.btn:active,.zhilian:active{
background-color:rgb(0,0,0)!important;
}
.btn:focus,.zhilian:focus{
color:rgb(255,255,255)!important;
background-color:rgb(0,0,0)!important;
}

.zgzs{
color:rgb(255,255,255)!important;
background-color:rgb(51,153,51)!important;
}
.cctv{
color:rgb(255,255,255)!important;
background-color:rgb(204,102,0)!important;
}
.youtube{
color:rgb(255,255,255)!important;
background-color:rgb(255,0,0)!important;
}
.google{
color:rgb(255,255,255)!important;
background-color:rgb(66,132,247)!important;
}
.yandex{
color:rgb(255,255,255)!important;
background-color:rgb(255,204,0)!important;
}
.zhihu{
color:rgb(255,255,255)!important;
background-color:rgb(87,0,0)!important;
border:1px solid #cdcdcd !important;
border-radius:20px !important;
outline:none;
}
.shiwen{
color:rgb(255,255,255)!important;
background-color:rgb(153,51,204)!important;
}
.tophub{
color:rgb(255,255,255)!important;
background-color:rgb(255,54,108)!important;
}
.gongju{
color:rgb(255,255,255)!important;
background-color:rgb(57,60,102)!important;
border:1px solid #BF9E41 !important;
outline:none;
}
::-webkit-scrollbar{width:0;height:0;}
